/*Add background image*/
.ayinawu-body-style-ako, html{
    background: url(../images/ocan.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*Apply style to input boxes*/
#ayinawu-login-input{
    border: solid gray 1px;
    width: 300px;
    border-radius: 5px;
    margin: 100px auto;
    background: white;
    padding: 60px;

}

/*Logo*/
#ayinawu_logo{
    margin-top: -60px;
    text-align: center;
}

/*Apply style to login page text*/
#login-page{
    color: whitesmoke;
    text-align: center;
}

/*Apply style to submit button*/
#ayinawu-login-btn{
   width: 90%;
   height: 40px;
   background: #0055cc;
   color: white;
   border: none;
}


/*Affects All text inputs*/
input[type="text"]{
	width:90%;
    height: 20px;
    background:white;
}

/*Labels*/
label{
    color: gray;
}


/*Affects password input*/
input[type="password"]{
	width:90%;
    height: 20px;
	background:white;
}


