#atable{
			border-collapse: collapse;
			width: 100%;
			color:  #2c3e50 ;
			font-family: monospace;
			font-size: 25px;
			text-align: left;
	}
#atable th{
			background-color:  #3f85df; 
			color:white;
  }

tr:nth-child(even){background-color:#bfc9ca;}
