footer{
  background: #6897dd;
  margin-top: 20px;
  padding: 15px;
}
footer .h6{
  color: white;
  line-height: 2.5px;
  letter-spacing: 4px;
  margin-top: 20px;
}

footer a{
  margin: 0 30px;
}
footer a, footeR a:focus, footer a:active {
    color: #ffffff;
}

footer .nav-list li{
  list-style: none;
  text-decoration: none;
}