.navbar {
    margin-bottom: 0;
    background-color: #0088cc;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
    font-family: Montserrat, sans-serif;
    margin-bottom: 2%;
}

.navbar .nav li{
  list-style: none;
  margin: 0 50px;
  text-transform: uppercase;
}

/* .navbar li a, .navbar .navbar-brand {
    color: #fff !important;
} */
/* .navbar-nav li a:hover, .navbar-nav li.active a {
    color: #0055cc !important;
    background-color: #fff !important;
} */
/* .navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
} */
