@import url("atule-customer-footer.css");

/** typography **/

.atule-food-menu-item {
    border: 0;
    background: #f9f9f9;
}

h1 {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 2.5em;
    line-height: 1.5em;
    letter-spacing: -0.05em;
    margin-bottom: 20px;
    padding: .1em 0;
    color: #444;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
}

h1:before,
h1:after {
    content: "";
    position: relative;
    display: inline-block;
    width: 50%;
    height: 1px;
    vertical-align: middle;
    background: #f0f0f0;
}

h1>span {
    display: inline-block;
    vertical-align: middle;
    white-space: normal;
}


/** notifications **/

.notify {
    display: block;
    background: #fff;
    padding: 12px 18px;
    max-width: 400px;
    margin: 0 auto;
    cursor: pointer;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 2px 0px;
}

.notify h1 {
    margin-bottom: 6px;
}

.successbox h1 {
    color: #678361;
}

.errorbox h1 {
    color: #6f423b;
}

.successbox h1:before,
.successbox h1:after {
    background: #cad8a9;
}

.errorbox h1:before,
.errorbox h1:after {
    background: #d6b8b7;
}

.notify .alerticon {
    display: block;
    text-align: center;
    margin-bottom: 10px;
}

.navbar {
    margin-bottom: 0;
    background-color: #0088cc;
    border: 0;
    font-size: 14px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 2px;
    border-radius: 0;
    font-family: Montserrat, sans-serif;
}

.navbar li a,
.navbar .navbar-brand {
    color: white !important;
}

.navbar-nav li a:hover,
.navbar-nav li.active a {
    color: white !important;
    background-color: #0088cc !important;
}

.navbar-default .navbar-toggle {
    border-color: #0088cc;
    color: #fff !important;
}

.atule-menu-icons {
    padding-bottom: 20px;
}

.navbar-nav>li>.dropdown-menu {
    background-color: #22b7ff;
    padding: 20px 0;
}

ul.nav.navbar-nav .dropdown.open .dropdown-toggle {
    background-color: #22b7ff;
}

.atule-dropdown {
    margin-right: 80px;
}

.atule-content {
    margin-top: 20px;
    padding: 15px 30px;
}

.atule-searchbox {
    margin: 0 0 20px 0;
}

.atule-filter {
    margin-left: 50%;
}

.btn-default {
    color: #333;
    background-color: #ccc;
    border-color: #ccc;
}

@media (max-width: 992px) {
    .col-md-2,
    .col-md-4 {
        margin-bottom: 20px;
    }
}

.badge {
    margin-left: -7px;
    background: green;
}

.card {
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), 0 0 0 2px rgba(63, 63, 68, 0.1);
    background-color: #FFFFFF;
    margin-bottom: 30px;
}

.card:hover {
    opacity: 1;
    filter: alpha(opacity=100);
}

.card .content {
    padding: 15px 15px 10px 15px;
}

.card .header {
    padding: 15px 15px 0;
}

.card .category {
    font-size: 14px;
    font-weight: 400;
    color: #9A9A9A;
    margin-bottom: 0px;
}

.card .title {
    margin: 0;
    color: #333333;
    font-weight: 400;
}

.card .table tbody td:first-child,
.card .table thead th:first-child {
    padding-left: 15px;
}

.table-hover tbody tr:hover td {
    background: #0088cc;
    color: white;
}

.atule-orders-table {
    padding-bottom: 10px;
}

.atule-total-price {
    margin-left: 50%;
}

p.atule-dotted-square {
    border: 2px dashed #0088cc;
    padding: 10% 10% 10% 10%;
    margin: 5%;
    text-align: center;
}
