/*Add background image*/
body{
    background: url(../images/BIG.JPG);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*Apply style to input boxes*/
#ayinawu-login-input{
    border: solid gray 1px;
    width: 200px;
    border-radius: 5px;
    margin: 100px auto;
    background: white;
    padding: 60px;
}

/*Apply style to login page text*/
#login-page{
    color: whitesmoke;
    text-align: center;
}

/*Apply style to submit button*/
#ayinawu-login-btn{
    color: #fff;
    background: #337ab7;
    padding: 5px;
    width:200px;
}


/*Affects All text inputs*/
input[type="text"]{
	display:block;
	margin-bottom:25px;
	width:100%;
	border:2px solid steelblue;
    background:white;
	border-radius:14%;
}

/*Affects password input*/
input[type="password"]{
	display:block;
	margin-bottom:25px;
	width:100%;
	border:2px solid steelblue;
	background:white;
	border-radius:14%;
}

#log{
    color: #337ab7;
    font-size: 20px;
    text-align: center;
    margin-top:-30px;
}

