.footer-bottom {
    padding: 40px 0 30px;
    border-top: 1px solid #666;
    background: #1e1e1e;
}
.copyright-text p {
	text-align: center;
    color: #ccc;
    margin-top: 9px;
    margin-bottom: 0;
