@import  url("atule-customer-navbar.css");
@import url('atule-customer-footer.css');

.search-overlay_wrapper{
    margin: 40px 0;
    margin-left:0;
}

.search-overlay_wrapper .search-overlay_inner{
  padding-left:0;
}
